<div class="container">
  <br>
  <section class="content-header text-center">
      <ol class="breadcrumb">
          <li><a [routerLink]="['/base/cliente']" routerLinkActive="active">{{ subTitlePagina }}</a></li>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <li class="active">Aquí</li>
      </ol>
  </section>
  <mat-card>
      <h5 class="text-center">
          <b>{{ subTitlePagina }}</b>
      </h5>
      <mat-grid-list cols="2" rowHeight="1:0.2">
          <mat-grid-tile>
              <button data-toggle="modal" data-target="#exampleModal" 
              class="btn btn-primary btn-sm" (click)="openModalCreate(template)"  id="" >Crear cliente</button>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field class="col-lg-6">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
              </mat-form-field>
          </mat-grid-tile>
      </mat-grid-list>
      
      <div class="table-responsive table-datos">
          <table mat-table [dataSource]="dataSource" class="table table-sm table-striped">
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Código </th>
                  <td mat-cell *matCellDef="let item"> {{item.idCliente}} </td>
              </ng-container>
              <ng-container matColumnDef="cliente">
                  <th mat-header-cell *matHeaderCellDef> Cliente </th>
                  <td mat-cell *matCellDef="let item"> 
                      <div style="width: 200px;">
                          {{item.nombres}} {{item.apellidos}} 
                      </div>
                  </td>
              </ng-container>
              <ng-container matColumnDef="ruc">
                  <th mat-header-cell *matHeaderCellDef> Cédula</th>
                  <td mat-cell *matCellDef="let item"> {{item.ruc}} </td>
              </ng-container>
              <ng-container matColumnDef="cedula">
                  <th mat-header-cell *matHeaderCellDef> Cédula</th>
                  <td mat-cell *matCellDef="let item"> {{item.cedula}} </td>
              </ng-container>
              <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef> Celular </th>
                  <td mat-cell *matCellDef="let item"> {{item.telefono}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let item"> {{item.email}} </td>
              </ng-container>
              <ng-container matColumnDef="provincia">
                  <th mat-header-cell *matHeaderCellDef> Provincia </th>
                  <td mat-cell *matCellDef="let item"> {{item.username}} </td>
              </ng-container>
              <ng-container matColumnDef="ciudad">
                  <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                  <td mat-cell *matCellDef="let item"> {{item.ciudad}} </td>
              </ng-container>
              <ng-container matColumnDef="direccion">
                  <th mat-header-cell *matHeaderCellDef> Dirección </th>
                  <td mat-cell *matCellDef="let item"> {{item.direccion}} </td>
              </ng-container>
              
              <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let item">
                      <div style="width: 140px;">
                        <button type="button" class="btn btn-info btn-sm" (click)="openModalEdit(template, item.idCliente)">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="confirmarEliminar(item.idCliente)">Eliminar</button>
                      </div>
                  </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>  
      </div>
  </mat-card>
  <br>
</div>
<!--MODAL CRUD-->
<ng-template #template>
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>  
      <h4 class="modal-title" id="exampleModalLabel"><b>{{ titleModal }}</b></h4>
  </div>
  
  <form [formGroup]="formCreate"  (ngSubmit)="enviarDatos()" >
      <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-3">Ruc:</label>
              <div class="col-md-7">
                  <input type="text" class="form-control"  placeholder="" formControlName="ruc"> 
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Cédula:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control"  placeholder="" formControlName="cedula"> 
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label col-md-3">Nombres:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control"  placeholder="" value="" formControlName="nombres">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Apellidos:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control"   placeholder="" formControlName="apellidos"> 
                </div>
            </div>
            <div class="form-group" >
                <label  class="control-label col-md-3">Teléfono:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control"  placeholder="" formControlName="telefono"> 
                </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Email:</label>
              <div class="col-md-7">
                  <input type="email" class="form-control"  placeholder="" formControlName="email"> 
              </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-md-3">Provincia:</label>
                <div class="col-md-7">
                    <select class="form-control"  placeholder="" formControlName="provincia">
                      <option *ngFor="let item of provincias" value="{{ item.nombre }}">{{ item.nombre }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Ciudad:</label>
              <div class="col-md-7">
                  <input type="email" class="form-control"  placeholder="" formControlName="ciudad"> 
              </div>
            </div>
            <div class="form-group" >
              <label  class="control-label col-md-3">Dirección:</label>
              <div class="col-md-7">
                  <input type="text" class="form-control"  placeholder="" formControlName="direccion"> 
              </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Sitio Web:</label>
              <div class="col-md-7">
                  <input type="email" class="form-control"  placeholder="" formControlName="sitioWeb"> 
              </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Observaciones:</label>
              <div class="col-md-7">
                  <textarea rows="3" class="form-control"  placeholder="" formControlName="observaciones"></textarea>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">Cerrar</button>
      <button type="submit" [disabled]="formCreate.invalid"
      class="btn btn-success" >Guardar</button>
      </div>
  </form>
        
</ng-template>
