button{
    margin-right:5px;
}

table {
    width: 100%;
  }
  
.mat-form-field {
  width: 100%;
}

.mat-cell {
  padding: 5px;
  border: 1px solid #e0e0e0;
}

.mat-header-cell{
  padding: 10px;
  border: 1px solid #e0e0e0;
  color: white;
  font-size: 10pt;
  background-color: #2B388E;
}

.input-formulario {
  display: flexbox;
  flex-direction: column;
}

.input-formulario > * {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.tabla-datos{
  height: 400px;
  overflow: auto;
}

.input-formulario-factura {
  display: flexbox;
  flex-direction: column;
}

.input-formulario-factura > * {
  width:40%;
  height: 50px;
  margin-left: 10px;
}

.buscador {
  display: flexbox;
  flex-direction: column;
}

.buscador > * {
  width:40%;
  height: 50px;
  margin-left: 10px;
}

.input-tipoDoc{
  display: flexbox;
  flex-direction: column;
}

.input-tipoDoc > * {
  width:30%;
  height: 50px;
  margin-left: 10px;
}