<br>
    <div class="container">
      <mat-card>
        <div class="input-formulario-factura text-center">
          <mat-form-field>
              <input type="text" matInput placeholder="Cédula" autofocus 
              [(ngModel)]="cedulaRuc" autocomplete="off" (ngModelChange)="buscarCliente(cedulaRuc)">
          </mat-form-field>
          <mat-form-field>
              <input type="text" [(ngModel)]="clienteNombreCompleto" matInput placeholder="Nombre" readonly>
          </mat-form-field>
          <mat-form-field>
              <input type="text" [(ngModel)]="clienteFactura.direccion" matInput placeholder="Dirección" readonly>
          </mat-form-field>
          <mat-form-field>
              <input type="text" [(ngModel)]="clienteFactura.telefono" matInput placeholder="Teléfono" readonly>
          </mat-form-field>
          <mat-form-field>
              <input type="text" [(ngModel)]="clienteFactura.ciudad" matInput placeholder="Ciudad" readonly>
          </mat-form-field>
          <mat-form-field>
              <input type="text" [(ngModel)]="fechaActual" matInput placeholder="Fecha" readonly>
          </mat-form-field>
        </div>
        <div class="buscador text-center">
          <mat-form-field>
            <input type="text" placeholder="Buscar por NOMBRE" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionarProducto($event)">
              <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                {{producto.nombreProducto}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
              <input type="text" matInput placeholder="Buscar por CÓDIGO" autofocus 
              [(ngModel)]="codigoProducto" autocomplete="off" 
              (ngModelChange)="buscarProductoCodigo(codigoProducto)">
          </mat-form-field>
        </div>
        <div class="alert alert-danger" *ngIf="autocompleteControl.invalid && facturaForm.submitted">
          La factura no puede no tener líneas!.
        </div>
        <div class="table-responsive">
          <div class="alert alert-primary my-4" *ngIf="venta.detalleVenta.length == 0">
            No hay productos ingresados en la factura. Debe agregar al menos uno!
          </div>
          <table class="table table-striped table-hover table-bordered table-sm  text-center" 
          *ngIf="venta.detalleVenta.length > 0">
            <thead>
              <tr>
                <th style="width: 100px;">Cantidad</th>
                <th>Detalle</th>
                <th style="width: 100px;">Precio</th>
                <th style="width: 100px;">Total</th>
                <th style="width: 100px;">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of venta.detalleVenta">
                <td>
                  <input type="number" value="{{item.cantidad}}" class="form-control" (change)="actualizarCantidad(item.producto.idProducto, $event)">
                </td>                  
                <td>{{item.producto.nombreProducto}}</td>
                <td>{{item.producto.precioVentaProducto}}</td>
                <td>{{item.calcularImporte()}}</td>
                <td><button class="btn btn-danger btn-sm"
                  (click)="eliminarItemFactura(item.producto.idProducto)">
                  <mat-icon class="iconsize-20">delete</mat-icon></button></td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td><b>SUBTOTAL</b></td>
                <td><span class="badge badge-secondary">{{ venta.subTotal() }}</span> $</td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td><b>IVA 0%</b></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td><b>IVA %</b></td>
                <td><span class="badge badge-secondary">{{ venta.iva12() }}</span>$</td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td><b>TOTAL</b></td>
                <td><span class="badge badge-secondary">{{ venta.totalFinal() }}</span>$</td>
                <td></td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td>
                  <input type="submit" (click)="crearVenta()" 
                  value="Crear Factura" class="btn btn-primary btn-sm">      
                </td>
              </tr>
            </tbody>
          </table>
        
        </div>
      </mat-card>
      <br>
    </div>