<div class="container">
  <br>
  <section class="content-header text-center">
      <ol class="breadcrumb">
          <li><a [routerLink]="['/base/proveedor']" routerLinkActive="active">{{ subTitlePagina }}</a></li>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <li class="active">Aquí</li>
      </ol>
  </section>
  <mat-card>
      <h5 class="text-center">
          <b>{{ subTitlePagina }}</b>
      </h5>
      <mat-grid-list cols="2" rowHeight="1:0.2">
          <mat-grid-tile>
              <button data-toggle="modal" data-target="#exampleModal" 
              class="btn btn-primary btn-sm" (click)="openModalCreate(template)"  id="" >Crear proveedor</button>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field class="col-lg-6">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
              </mat-form-field>
          </mat-grid-tile>
      </mat-grid-list>
      
      <div class="table-responsive table-datos">
          <table mat-table [dataSource]="dataSource" class="table table-sm table-striped">
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Código </th>
                  <td mat-cell *matCellDef="let item"> {{item.id}} </td>
              </ng-container>
              <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Proveedor </th>
                  <td mat-cell *matCellDef="let item"> 
                      <div style="width: 200px;">
                          {{item.nombre}} {{item.apellido}} 
                      </div>
                  </td>
              </ng-container>
              <ng-container matColumnDef="ruc">
                  <th mat-header-cell *matHeaderCellDef> Ruc</th>
                  <td mat-cell *matCellDef="let item"> {{item.ruc}} </td>
              </ng-container>
              <ng-container matColumnDef="cedula">
                  <th mat-header-cell *matHeaderCellDef> Cédula</th>
                  <td mat-cell *matCellDef="let item"> {{item.cedula}} </td>
              </ng-container>
              <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                  <td mat-cell *matCellDef="let item"> {{item.telefono}} </td>
              </ng-container>
              <ng-container matColumnDef="celular">
                  <th mat-header-cell *matHeaderCellDef> Celular </th>
                  <td mat-cell *matCellDef="let item"> {{item.celular}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let item"> {{item.email}} </td>
              </ng-container>
              <ng-container matColumnDef="provincia">
                  <th mat-header-cell *matHeaderCellDef> Provincia </th>
                  <td mat-cell *matCellDef="let item"> {{item.provincia}} </td>
              </ng-container>
              <ng-container matColumnDef="ciudad">
                  <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                  <td mat-cell *matCellDef="let item"> {{item.ciudad}} </td>
              </ng-container>
              <ng-container matColumnDef="direccion1">
                  <th mat-header-cell *matHeaderCellDef> Dirección </th>
                  <td mat-cell *matCellDef="let item"> 
                    <div style="width: 200px;">
                        {{item.direccion1}}
                    </div> 
                  </td>
              </ng-container>
              <ng-container matColumnDef="cuenta1">
                  <th mat-header-cell *matHeaderCellDef> Cuenta </th>
                  <td mat-cell *matCellDef="let item"> {{item.cuenta1}} </td>
              </ng-container>
              <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let item">
                      <span class="badge badge-secondary" style="background-color: #2E86C1;" 
                      *ngIf="item.estado == true">
                          Activo
                      </span>
                      <span class="badge badge-secondary" *ngIf="item.estado == false">
                          Inactivo
                      </span>
                  </td>
              </ng-container>
              
              <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let item">
                      <div style="width: 140px;">
                          <button type="button" class="btn btn-info btn-sm" (click)="openModalEdit(template, item.id)">Editar</button>
                          <button type="button" class="btn btn-danger btn-sm" (click)="confirmarEliminar(item.id)">Eliminar</button>
                      </div>
                  </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>  
      </div>
  </mat-card>
  <br>
</div>
                
<ng-template #template>
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>  
      <h4 class="modal-title" id="exampleModalLabel"><b>{{ titleModal }}</b></h4>
  </div>
  
  <form [formGroup]="formCreate"  (ngSubmit)="enviarDatos()" >
      <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-3">Ruc:</label>
              <div class="col-md-7">
                  <input type="text" class="form-control"  placeholder="" formControlName="ruc"> 
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Cédula:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control"  placeholder="" formControlName="cedula"> 
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label col-md-3">Nombre:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control"  placeholder="" value="" formControlName="nombre">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Apellido:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control"   placeholder="" formControlName="apellido"> 
                </div>
            </div>
            <div class="form-group" >
                <label  class="control-label col-md-3">Dirección principal:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control"  placeholder="" formControlName="direccion1"> 
                </div>
            </div>
            <div class="form-group" >
              <label  class="control-label col-md-3">Dirección secundaria (opcional):</label>
              <div class="col-md-7">
                  <input type="text" class="form-control"  placeholder="" formControlName="direccion2"> 
              </div>
            </div>
            <div class="form-group" >
                <label  class="control-label col-md-3">Teléfono:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control"  placeholder="" formControlName="telefono"> 
                </div>
                
            </div>
            <div class="form-group" >
                <label class="control-label col-md-3">Provincia:</label>
                <div class="col-md-7">
                    <select class="form-control"  placeholder="" formControlName="provincia">
                      <option *ngFor="let item of provincias" value="{{ item.nombre }}">{{ item.nombre }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Ciudad:</label>
              <div class="col-md-7">
                  <input type="email" class="form-control"  placeholder="" formControlName="ciudad"> 
              </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Sitio Web:</label>
              <div class="col-md-7">
                  <input type="email" class="form-control"  placeholder="" formControlName="sitioWeb"> 
              </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Celular:</label>
              <div class="col-md-7">
                  <input type="email" class="form-control"  placeholder="" formControlName="celular"> 
              </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Email:</label>
              <div class="col-md-7">
                  <input type="email" class="form-control"  placeholder="" formControlName="email"> 
              </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Cuenta principal:</label>
              <div class="col-md-7">
                  <input type="email" class="form-control"  placeholder="" formControlName="cuenta1"> 
              </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Cuenta secundaria:</label>
              <div class="col-md-7">
                  <input type="email" class="form-control"  placeholder="" formControlName="cuenta2"> 
              </div>
            </div>
            <div class="form-group" >
              <label class="control-label col-md-3">Observación:</label>
              <div class="col-md-7">
                  <textarea rows="3" class="form-control"  placeholder="" formControlName="observacion"></textarea>
              </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-md-3">Estado:</label>
                <div class="col-md-7">
                    <label class="form-check-inline">
                        Activo
                        <input class="form-check-input" type="radio" formControlName="estado" [value]="true" >
                    </label>
                    <label class="form-check-inline">
                        Inactivo
                        <input class="form-check-input" type="radio" formControlName="estado" [value]="false">
                    </label> 
                </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">Cerrar</button>
      <button type="submit" [disabled]="formCreate.invalid"
      class="btn btn-success" >Guardar</button>
      </div>
  </form>
        
</ng-template>