<div class="container">
<br>
<section class="content-header text-center">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/base/puntos-venta']" routerLinkActive="active">{{ subTitlePagina }}</a></li>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <li class="active">Aquí</li>
    </ol>
</section>
<mat-card>
    <h5 class="text-center">
        <b>{{ subTitlePagina }}</b>
    </h5>
    <mat-grid-list cols="2" rowHeight="1:0.2">
        <mat-grid-tile>
            <button data-toggle="modal" data-target="#exampleModal" 
            class="btn btn-primary btn-sm" (click)="openModalCreate(template)"  id="" >Crear pundo de venta</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="col-lg-6">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    
    <div class="table-responsive table-datos">
        <table mat-table [dataSource]="dataSource" class="table table-sm table-striped">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let item"> {{item.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Susursal </th>
                <td mat-cell *matCellDef="let item"> 
                    <div style="width: 200px;">
                        {{item.nombre}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripción</th>
                <td mat-cell *matCellDef="let item"> 
                    <div style="width: 200px;">
                        {{item.descripcion}}
                    </div> 
                </td>
            </ng-container>
            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                <td mat-cell *matCellDef="let item"> {{item.telefono}} </td>
            </ng-container>
            <ng-container matColumnDef="provincia">
                <th mat-header-cell *matHeaderCellDef> Provincia </th>
                <td mat-cell *matCellDef="let item"> {{item.provincia}} </td>
            </ng-container>
            <ng-container matColumnDef="ciudad">
                <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                <td mat-cell *matCellDef="let item"> {{item.ciudad}} </td>
            </ng-container>
            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef> Dirección </th>
                <td mat-cell *matCellDef="let item"> 
                    <div style="width: 200px;">
                        {{item.direccion}}
                    </div> 
                </td>
            </ng-container>
            
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let item">
                    <div style="width: 140px;">
                        <button type="button" class="btn btn-info btn-sm" (click)="openModalEdit(template, item.id)">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="confirmarEliminar(item.id)">Eliminar</button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>  
    </div>
</mat-card>
<br>
</div>
               

<ng-template #template>
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>  
      <h4 class="modal-title" id="exampleModalLabel"><b>{{ titleModal }}</b></h4>
  </div>
  
  <form [formGroup]="formCreate"  (ngSubmit)="enviarDatos()" >
    <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
              <label class="control-label col-md-3">Nombre:</label>
              <div class="col-md-7">
                  <input type="text" class="form-control"  placeholder="" formControlName="nombre"> 
              </div>
          </div>
          <div class="form-group">
              <label  class="control-label col-md-3">Descripción:</label>
              <div class="col-md-7">
                  <input type="text" class="form-control"  placeholder="" value="" formControlName="descripcion">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3">Dirección:</label>
              <div class="col-md-7">
                  <input type="text" class="form-control"   placeholder="" formControlName="direccion"> 
              </div>
          </div>
          <div class="form-group" >
              <label  class="control-label col-md-3">Provincia:</label>
              <div class="col-md-7">
                  <input type="text" class="form-control"  placeholder="" formControlName="provincia"> 
              </div>
              
          </div>
          <div class="form-group" >
              <label  class="control-label col-md-3">Ciudad:</label>
              <div class="col-md-7">
                  <input type="text" class="form-control"  placeholder="" formControlName="ciudad"> 
              </div>
              
          </div>
          <div class="form-group" >
              <label class="control-label col-md-3">Teléfono:</label>
              <div class="col-md-7">
                  <input type="email" class="form-control"  placeholder="" formControlName="telefono"> 
              </div>
          </div>
        </div>
    </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">Cerrar</button>
      <button type="submit" [disabled]="formCreate.invalid"
      class="btn btn-success" >Guardar</button>
      </div>
  </form>
        
</ng-template>

