<div class="container">
<br>
<section class="content-header text-center">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/base/usuario']" routerLinkActive="active">{{ subTitlePagina }}</a></li>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <li class="active">Aquí</li>
    </ol>
</section>
<mat-card>
    <h5 class="text-center">
        <b>{{ subTitlePagina }}</b>
    </h5>
    <mat-grid-list cols="2" rowHeight="1:0.2">
        <mat-grid-tile>
            <button data-toggle="modal" data-target="#exampleModal" 
            class="btn btn-primary btn-sm" (click)="openModalCreate(template)"  id="" >Crear usuario</button>
            <br>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="col-lg-6">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    
    <div class="table-responsive tabla-datos">
        <table mat-table [dataSource]="dataSource" class="table table-sm table-striped">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let usuario"> 
                    <div style="width: 200px;">
                        {{usuario.nombre}} {{usuario.apellido}} 
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="dni">
                <th mat-header-cell *matHeaderCellDef> Cédula</th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.dni}} </td>
            </ng-container>
            <ng-container matColumnDef="celular">
                <th mat-header-cell *matHeaderCellDef> Celular </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.celular}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
            </ng-container>
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.username}} </td>
            </ng-container>
            <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef> Roles </th>
                <td mat-cell *matCellDef="let usuario">
                    <div style="width: 200px;">
                        <mat-chip-list>
                            <mat-chip style="font-size: 7pt; font-weight: bold; margin: 0; padding: 5px;" *ngFor="let rol of usuario.roles">
                                {{rol.authority}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let usuario">
                    <div style="width: 230px;">
                        <button type="button" class="btn btn-info btn-sm" (click)="openModalEdit(template, usuario.id)">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="confirmarEliminar(usuario.id)">Eliminar</button>
                        <button type="button" class="btn btn-primary btn-sm" (click)="mostrarRoles(templateRol,usuario)">Asignar Rol</button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>  
    </div>
</mat-card>
<br>
</div>

<!--MODALE FORM USUARIO-->
<ng-template #template>
    <div class="modal-header" >
            <h5 class="modal-title" id="exampleModalLabel">{{ titleModal }}</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <form [formGroup]="formCreateUser"  (ngSubmit)="enviarDatosUsuario()" autocomplete="off">
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="example-container">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Cédula" formControlName="dni" autocomplete="off">
                        <mat-error *ngIf="formCreateUser.get('dni').hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Nombre" formControlName="nombre" autocomplete="off">
                        <mat-error *ngIf="formCreateUser.get('nombre').hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Apellido" formControlName="apellido" autocomplete="off">
                        <mat-error *ngIf="formCreateUser.get('apellido').hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Celular" formControlName="celular" autocomplete="off">
                        <mat-error *ngIf="formCreateUser.get('celular').hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Dirección" formControlName="direccion" autocomplete="off">
                        <mat-error *ngIf="formCreateUser.get('direccion').hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input type="email" matInput placeholder="Email" formControlName="email" autocomplete="off">
                        <mat-error *ngIf="formCreateUser.get('email').hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-radio-group formControlName="enabled">
                        <mat-radio-button [value]="true">Activo</mat-radio-button>
                        <mat-radio-button [value]="false">Inactivo</mat-radio-button>
                    </mat-radio-group>

                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input type="email" matInput placeholder="Username" formControlName="username" autocomplete="off">
                        <mat-error *ngIf="formCreateUser.get('username').hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="off">
                        <mat-error *ngIf="formCreateUser.get('password').hasError('required')">Requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" (click)="modalRef.hide()" data-dismiss="modal">Cerrar</button>
        <button type="submit" [disabled]="formCreateUser.invalid"
        class="btn btn-primary btn-sm" >Guardar</button>
        </div>
    </form>
          
</ng-template>

<!--MODAL FORM ROL-->
<ng-template #templateRol>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ titleRol }}</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>  
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <table class="table table-sm">
                <tr *ngFor="let rol of rolesList">
                    <td>{{ rol.authority }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" *ngIf="rol.add" (click)="asignarRol(rol)" >Añadir</button>
                        <button class="btn btn-primary btn-sm" *ngIf="rol.del" disabled>Añadir</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm" (click)="confirmarLimpiarRoles()" data-dismiss="modal">Limpiar roles</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="modalRef.hide()" data-dismiss="modal">Cerrar</button>
    </div>
</ng-template>
