<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
        VentasApp
    </mat-toolbar>
    <mat-nav-list>
      <a mat-menu-item >Menú</a>
      <mat-divider></mat-divider>
      <a mat-menu-item [routerLink]="['/base/inicio']" routerLinkActive="active" >Inicio</a>
      <a mat-menu-item [routerLink]="['/base/venta']" routerLinkActive="active">Ventas</a>
      <a mat-menu-item [routerLink]="['/base/usuario']" routerLinkActive="active">Usuarios</a>
      <a mat-menu-item [routerLink]="['/base/puntos-venta']" routerLinkActive="active">Puntos de venta</a>
      <a mat-menu-item [routerLink]="['/base/categoria-producto']" routerLinkActive="active">Categoría de productos</a>
      <a mat-menu-item [routerLink]="['/base/tipo-documento']" routerLinkActive="active">Documento para facturar</a>
      <a mat-menu-item [routerLink]="['/base/producto']" routerLinkActive="active">Productos</a>
      <a mat-menu-item [routerLink]="['/base/proveedor']" routerLinkActive="active">Proveedores</a>
      <a mat-menu-item [routerLink]="['/base/cliente']" routerLinkActive="active">Clientes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!--<img mat-card-sm-image class="logo" src="">-->
      <span class="example-fill-remaining-space"></span>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item [routerLink]="['/base/perfil']">Perfil</button>
          <button mat-menu-item (click)="logout()">Salir</button>
        </mat-menu>
        <span style="font-size: 12pt;">{{ loginService.usuario.nombre }} {{ loginService.usuario.apellido }}</span>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>account_box</mat-icon>
        </button>
        
    </mat-toolbar>

    <!-- Add Content Here -->
        <router-outlet></router-outlet>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>