<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>  
    <h4 class="modal-title" id="exampleModalLabel"><b>{{ title }}</b></h4>
</div>

<form [formGroup]="formCreateUser"  (ngSubmit)="crearUsuario()" >
    <div class="modal-body">
        <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Cédula:</label>
            <div class="col-md-7">
                <input type="text" class="form-control"  placeholder="" formControlName="dni"> 
            </div>
        </div>
        <div class="form-group">
            <label  class="control-label col-md-3">Nombre:</label>
            <div class="col-md-7">
                <input type="text" class="form-control"  placeholder="" value="" formControlName="nombre">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Apellido:</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" formControlName="apellido"> 
            </div>
        </div>
        <div class="form-group" >
            <label  class="control-label col-md-3">Teléfono:</label>
            <div class="col-md-7">
                <input type="text" class="form-control"  placeholder="" formControlName="telefono"> 
            </div>
            
        </div>
        <div class="form-group" >
            <label  class="control-label col-md-3">Dirección:</label>
            <div class="col-md-7">
                <input type="text" class="form-control"  placeholder="" formControlName="direccion"> 
            </div>
            
        </div>
        <div class="form-group" >
            <label class="control-label col-md-3">Email:</label>
            <div class="col-md-7">
                <input type="email" class="form-control"  placeholder="" formControlName="email"> 
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-md-3">Estado:</label>
            <div class="col-md-7">
                <label class="form-check-inline">
                    Activo
                    <input class="form-check-input" type="radio" formControlName="enabled" [value]="true" >
                </label>
                <label class="form-check-inline">
                    Inactivo
                    <input class="form-check-input" type="radio" formControlName="enabled" [value]="false">
                </label> 
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-md-3">Username:</label>
            <div class="col-md-7">
                <input type="text" class="form-control"  placeholder="" formControlName="username"> 
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-md-3">Password:</label>
            <div class="col-md-7">
                <input type="password" class="form-control"  placeholder="" formControlName="password"> 
            </div>
        </div>
        </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">Cerrar</button>
    <button type="submit" [disabled]="formCreateUser.invalid"
    class="btn btn-success" >Guardar</button>
    </div>
</form>
      